*{
	margin:0px;
	padding:0px;	
}
#content{
	width: 100%;
	height:600px;
	margin: 0px auto;
	background: #FBFBFB;
	border:1px solid red;
}
#top{
	width: 1263px;
	height: 30px;
	
}
#topLeft{
	position: relative;
}
#topLeft .logo{
	position: relative;
}
#topLeft .logo a{
	display: block;
	position: absolute;
	top: 26px;
	left:35px;
	width: 280px;
	height: 51px;
	background: url(../image/logo.jpg);
}

